#bely{
     color: brown;
    border:10px solid green;
    background-color: cornsilk;
    padding: 20px;
    box-shadow :10px 10px 100px; 
    margin: 50px;

    
}
.bb{
    padding: 0;
    margin:0;
    background-image:url(bely\ 2.jpg);
    background-size: 50%;
    background-repeat: none;
}